.sidebar {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  background-color: #f5f5f5;
  height: 100vh;
  border-right: 1px solid lightgrey;
  width: 100%;
}

.sidebar__header {
  display: flex;
  height: 50px;
  padding: 10px;
  align-items: center;
}

.sidebar__avatar {
  cursor: pointer;
  margin: 10px;
}

.sidebar__input {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  background-color: #e1e1e1;
  color: gray;
  border-radius: 5px;
  font-size: 16px;
}

.sidebar__input > input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.sidebar__chats {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar__chats::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar__chats {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 345px) {
  .sidebar {
    min-width: 350px;
  }
}
